[user]
	name = Aaron Tribou
	email = aaron.tribou@gmail.com
	signingkey = E2B6AA91
[core]
	editor = mvim -v
[credential]
[color]
	ui = true
	interactive = true
  diff = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = red
[color "diff"]
  meta = yellow
  frag = blue
  old = red bold
  new = green
[color "decorate"]
  head = reverse red
[color "status"]
  added = green
  changed = red
  untracked = cyan
[alias]
  diff-word = diff --color-words=.
  forget = reset head --hard
  history = log --follow -p --
	tree = log --graph --abbrev-commit --date=local --date=short --pretty=format:\"%C(yellow)%h %C(cyan)%ad%C(auto)%d %Creset%s %C(blue)<%aN>\" --all
	tree-short = log --graph --abbrev-commit --date=local --date=short --pretty=format:\"%C(yellow)%h %C(cyan)%ad%C(auto)%d %Creset%s %C(blue)<%aN>\"
	changes = log --format=%B --since=\"midnight\" --date=local
[push]
  default = simple

