[user]
  name = Aaron Tribou
  email = aaron.tribou@gmail.com
[core]
  editor = nvim
[credential]
[color]
  ui = true
  interactive = true
  diff = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = red
[color "diff"]
  meta = yellow
  frag = blue
  old = red bold
  new = green
[color "decorate"]
  head = reverse red
[color "status"]
  added = green
  changed = red
  untracked = cyan
[alias]
  diff-word = diff --color-words="[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+"
  forget = reset HEAD --hard
  history = log --follow -p --
  tree = log --graph --abbrev-commit --date=local --date=short --pretty=format:\"%C(yellow)%h %C(cyan)%ad%C(auto)%d %Creset%s %C(blue)<%aN>\" --all
  tree-short = log --graph --abbrev-commit --date=local --date=short --pretty=format:\"%C(yellow)%h %C(cyan)%ad%C(auto)%d %Creset%s %C(blue)<%aN>\"
  changes = log --format=%B --since=\"midnight\" --date=local
  tree-one = log --abbrev-commit --date=local --date=short --pretty=format:\"%C(yellow)%h %C(cyan)%ad%C(auto)%d %Creset%s %C(blue)<%aN>\"
[push]
  default = simple
[rerere]
  enabled = true
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[filter "omitsigningkey"]
[commit]
  gpgsign = true
[gpg]
  program = /usr/local/bin/gpg
