[defaults]
inventory = localhost,
roles_path = roles
retry_files_enabled = False
stdout_callback = default
localhost_warning = False
interpreter_python = auto_silent
collections_path = ./.ansible/collections:~/.ansible/collections

[callback_default]
result_format = yaml

[inventory]
enable_plugins = host_list
